* text=auto eol=lf

*.java      text eol=lf
*.md        text eol=lf
*.yaml      text eol=lf
*.yml       text eol=lf
*.json      text eol=lf
*.xml       text eol=lf
*.sh        text eol=lf
*.ps1       text eol=crlf
*.bat       text eol=crlf
*.cmd       text eol=crlf

*.jar       binary
*.png       binary
*.jpg       binary
*.ico       binary
*.gif       binary